# Ignore everything
*

# But not these files...
!.gitignore
!NGE_Master.cpp
!NGE_Master.h
!NGE_Window.cpp
!NGE_Window.h
!NGE_Maths.cpp
!NGE_Maths.h
!NGE_Timing.cpp
!NGE_Timing.h
!NGE_Event.cpp
!NGE_Event.h
!NGE_Texture.cpp
!NGE_Texture.h
!NGE_SoundBite.cpp
!NGE_SoundBite.h
!NGE_Music.cpp
!NGE_Music.h
!NGE_SoundChannel.cpp
!NGE_SoundChannel.h
!NGE_Font.cpp
!NGE_Font.h
!NGE_File.cpp
!NGE_File.h
!NGE.h
